{% extends "base.html" %}

{% block content %}

<section class="signup-page">
    <div class="container">
        <div class="signup-card">

            <p class="section-label">CREATE ACCOUNT</p>
            <h1>Sign Up</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Sign Up
                </button>
            </form>

        </div>
    </div>
</section>

{% endblock %}
