{% extends "base.html" %}

{% block content %}

<section class="add-pet-page">
    <div class="container">
        <div class="add-pet-card">

            <p class="section-label">PET PROFILE</p>
            <h1>Add Pet</h1>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Add Pet
                </button>
            </form>

        </div>
    </div>
</section>


{% endblock %}