{% extends 'base.html' %}

{% block content %}
    <h1>My Appointments</h1>
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment.service.name }} - {{appointment.appointment_date }} at {{appointment.appointment_time }}
                <form method="post" action="{% url 'cancel_appointment' appointment.id %}">
                    {% csrf_token %}
                    <button type="submit">Cancel Appointment</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}