{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h1>My Pets</h1>

    {% if pets %}
    {% for pet in pets %}
    <div class="mb-3">
        <h3>{{ pet.name }}</h3>
        {% if pet.image %}
    <img src="{{ pet.image.url }}" width="200" alt="{{ pet.name }}">
{% else %}
    <img src="{% static 'images/default_pet.png' %}" width="200" alt="Default Pet Image">
{% endif %}
        <p>Type: {{ pet.get_pet_type_display }}</p>
        <p>Age: {{ pet.age }}</p>
        <p>Size: {{ pet.get_size_display }}</p>
        <p>Breed: {{ pet.breed }}</p>

        {% if pet.notes %}
        <p>Notes: {{ pet.notes }}</p>
        {% endif %}
    
        <a href="{% url 'edit_pet' pet.id %}" class="btn btn-primary">
            Edit Pet
        </a>
        <a href="{% url 'delete_pet' pet.id %}" class="btn btn-danger">
            Delete Pet
        </a>
    
    </div>
    {% endfor %}
    {% else %}
    <p>You have not added any pets yet.</p>
    {% endif %}
</div>

{% endblock %}